body {
  font-family: "Andika", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
/* Adjust the select dropdown */
select.form-control {
  appearance: none; /* remove native arrow for better styling */
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'6'%20viewBox%3D'0%200%2010%206'%20xmlns%3D'http://www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M0%200l5%206%205-6z'%20fill%3D'%23666'%20/%3E%3C/svg%3E")
    no-repeat right 0.75rem center / 10px 6px;
  padding-right: 2rem;
}
